<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//pt-BR" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/estilo.css" rel="stylesheet" />
<title>Gerenciar turmas</title>
</h:head>
<body class="centro">

<p:breadCrumb>
    <p:menuitem value="Home" url="menuPrincipal.xhtml" />
    <p:menuitem value="Gerenciar turmas" url="gerenciarTurmas.xhtml" />
    <p:menuitem value="Alunos da turma ${gerenciarTurmasMBean.turma.nome}" url="#" />
</p:breadCrumb>

<h:form>
	<div>
		<p:dataTable var="aluno" value="#{gerenciarTurmasMBean.turma.alunos}">
		    <p:column headerText="Nome do aluno">
		        <h:outputText  value ="#{aluno.nome}" />
		    </p:column>
		    <p:column headerText="Data de Nascimento">
		        <h:outputText  value ="#{aluno.dataNascimento}" />
		    </p:column>		    	    	
		</p:dataTable>
	</div>
</h:form>

</body>
</html>