<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//pt-BR" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/estilo.css" rel="stylesheet" />
<title>Cadastrar Novo Membro</title>
</h:head>
<body class="centro">

<p:breadCrumb>
    <p:menuitem value="Home" url="menuPrincipal.xhtml" />
    <p:menuitem value="Gerenciar Membros" url="gerenciarMembros.xhtml" />
    <p:menuitem value="Cadastrar Novo Membro" url="#" />
</p:breadCrumb>

<h:form>
	<div align="center">
		<h3>Cadastrar Novo Membro</h3>
		<p:panelGrid columns="2">
		   		
	    	<h:outputText value="Nome:" />
	    	<p:inputText value="#{gerenciarMembrosMBean.membro.nome}"/>
	    	
	    	<h:outputText value="Data de Nascimento:" />
	    	<p:calendar pattern="dd/MM/yyyy" value="#{gerenciarMembrosMBean.membro.dataNascimento}" mask="99/99/9999"/>
	    	
	    	<h:outputText value="Tipo de Membro:" />
	    	<h:selectOneMenu value="#{gerenciarMembrosMBean.membro.tipoMembro}">
	    		<f:selectItem noSelectionOption="true" itemLabel="-- Selecione o tipo de membro --"/>
	    		<f:selectItems value="#{gerenciarMembrosMBean.tiposMembro}" var="tipos"/>
	    	</h:selectOneMenu>
	    		    	
		</p:panelGrid>
			<br/>
			<br/>
		<c:if test = "${gerenciarMembrosMBean.cadastrado}">
        	<p:commandButton value="Alterar" ajax="false" action="#{gerenciarMembrosMBean.alterar}"/>
      	</c:if>
      	<c:if test = "${!gerenciarMembrosMBean.cadastrado}">
        	<p:commandButton value="Cadastrar" ajax="false" action="#{gerenciarMembrosMBean.cadastrar}"/>
      	</c:if>
	</div>

</h:form>

</body>
</html>