<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//pt-BR" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/estilo.css" rel="stylesheet" />
<title>Gerenciar turmas</title>
</h:head>
<body class="centro">

<p:breadCrumb>
    <p:menuitem value="Home" url="menuPrincipal.xhtml" />
    <p:menuitem value="Gerenciar turmas" url="#" />
</p:breadCrumb>

<h:form>
	<div align="center">
    	<p:commandLink action="#{gerenciarTurmasMBean.prepararNovaTurma}" value="Cadastrar Nova turma"/>
	</div>
	
	<br/>
	<br/>
	
	<div>
		<p:dataTable var="turma" value="#{gerenciarTurmasMBean.turmas}">
		    <p:column headerText="Nome da Turma">
		        <h:outputText  value ="#{turma.nome}" />
		    </p:column>
		    <p:column headerText="Idade Mínima">
		        <h:outputText  value ="#{turma.idadeMinima}" />
		    </p:column>
		    
		    <p:column headerText="Idade Máxima">
		        <h:outputText  value ="#{turma.idadeMaxima}" />
		    </p:column>
		    
		    <p:column>
		        <p:commandButton action="#{gerenciarTurmasMBean.prepararAlteracao}" icon="ui-icon-pencil" >
		        	<f:setPropertyActionListener value="#{turma}" target="#{gerenciarTurmasMBean.turma}" />
		        </p:commandButton>
		        <p:commandButton action="#{gerenciarTurmasMBean.remover}" icon="ui-icon-trash" ajax="false">
		        	<f:setPropertyActionListener value="#{turma}" target="#{gerenciarTurmasMBean.turma}" />
		        </p:commandButton>
		        <p:commandButton action="#{gerenciarTurmasMBean.enturmarAlunos}" icon="ui-icon-arrowreturnthick-1-e" ajax="false">
		        	<f:setPropertyActionListener value="#{turma}" target="#{gerenciarTurmasMBean.turma}" />
		        </p:commandButton>
		        <p:commandButton action="#{gerenciarTurmasMBean.verAlunosEnturmados}" icon="ui-icon-search" ajax="false">
		        	<f:setPropertyActionListener value="#{turma}" target="#{gerenciarTurmasMBean.turma}" />
		        </p:commandButton>
		    </p:column>
		    	    	
		</p:dataTable>
	</div>
</h:form>

</body>
</html>