<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//pt-BR" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/estilo.css" rel="stylesheet" />
<title>Gerenciar Membros</title>
</h:head>
<body class="centro">

<p:breadCrumb>
    <p:menuitem value="Home" url="menuPrincipal.xhtml" />
    <p:menuitem value="Gerenciar Membros" url="#" />
</p:breadCrumb>

<h:form>
	
	<br/>
	<div align="center">
		<p:panelGrid>
			<p:row>
				<p:column>
					<h:outputText value="Nome" />
				</p:column>
				<p:column>
					<h:inputText value="#{gerenciarMembrosMBean.filtroNome}" />
				</p:column>
			</p:row>
			<p:row>
				<p:column>
					<h:outputText value="Matrícula" />
				</p:column>
				<p:column>
					<h:inputText value="#{gerenciarMembrosMBean.filtroMatricula}" />
				</p:column>
			</p:row> 
		</p:panelGrid>
		
		<br/>
		
		<p:commandButton value="Buscar" action="#{gerenciarMembrosMBean.buscar}" ajax="false"/>
	
		<br/>
		<br/>
		
		<p:commandLink action="#{gerenciarMembrosMBean.prepararNovoMembro}" value="Cadastrar Novo Membro"/>
	</div>
	
	<br/>
	<br/>
	
	<div>
		<p:dataTable var="membro" value="#{gerenciarMembrosMBean.membros}">
		    <p:column headerText="Matrícula">
		        <h:outputText  value ="#{membro.matricula}" />
		    </p:column>
		 
		    <p:column headerText="Nome">
		        <h:outputText value ="#{membro.nome}" />
		    </p:column>
		 
		    <p:column headerText="Data de Nascimento">
		        <h:outputText value ="#{membro.dataNascimento}" />
		    </p:column>
		 
		    <p:column headerText="Tipo de Membro">
		        <h:outputText value ="#{membro.tipoMembro}" />
		    </p:column>
		    
		    <p:column>
		        <p:commandButton action="#{gerenciarMembrosMBean.prepararAlteracao}" icon="ui-icon-pencil" >
		        	<f:setPropertyActionListener value="#{membro}" target="#{gerenciarMembrosMBean.membro}" />
		        </p:commandButton>
		        <p:commandButton action="#{gerenciarMembrosMBean.remover}" icon="ui-icon-trash" ajax="false">
		        	<f:setPropertyActionListener value="#{membro}" target="#{gerenciarMembrosMBean.membro}" />
		        </p:commandButton>
		    </p:column>
		    	    	
		</p:dataTable>
	</div>
</h:form>

</body>
</html>