<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//pt-BR" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/estilo.css" rel="stylesheet" />
<title>Marcação de Participação</title>
</h:head>
<body class="centro">

<p:breadCrumb>
    <p:menuitem value="Home" url="menuPrincipal.xhtml" />
</p:breadCrumb>

<h:form>

	<br/>
	<div align="center">
		<p:panelGrid>
			<p:row>
				<p:column>
					<h:outputText value="Data da Aula:" />
				</p:column>
				<p:column>
					<p:calendar value="#{informarParticipacaoMBean.dataDaParticipacao}" pattern="dd/mm/yyyy" mask="99/99/9999" />
				</p:column>
			</p:row>
		</p:panelGrid>
		<br/>
			<p:commandButton action="#{informarParticipacaoMBean.carregarParticipacoes}" value="Carregar Participações do dia" ajax="false"/>
		<br/>
	</div>
	<br/>
		
	<div>
		<p:dataTable var="participacao" value="#{informarParticipacaoMBean.participacoesDoDia}">
		    <p:column headerText="Matrícula">
		        <h:outputText value ="#{participacao.membro.matricula}" />
		    </p:column>
		    <p:column headerText="Nome do Aluno">
		        <h:outputText value ="#{participacao.membro.nome}" />
		    </p:column>
		    <p:column headerText="Nota">
				<p:inputNumber value="#{participacao.nota}" size="3"/>
		    </p:column>
		    <p:column headerText="Descrição">
				<p:inputTextarea value="#{participacao.descricao}" />
		    </p:column>
		</p:dataTable>
	</div>
	
	<br/>
	<div align="center">
		<p:commandButton action="#{informarParticipacaoMBean.salvarParticipacoes}" value="Salvar Participações" ajax="false"/>
	</div>
</h:form>

</body>
</html>