<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//pt-BR" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/estilo.css" rel="stylesheet" />
<title>Menu Principal</title>
</h:head>
<body>
<h:form>  
     
    <p:menubar>
        <p:submenu label="Gerenciar" icon="ui-icon-document">
            <p:menuitem value="Membros" outcome="gerenciarMembros"/>
            <p:separator />
            <p:menuitem value="Turmas" outcome="gerenciarTurmas" />
        </p:submenu>
        <p:submenu label="Frequências e Participações" icon="ui-icon-calendar">
            <p:menuitem value="Marcar Frequência" outcome="gerenciarFrequencias"/>
            <p:menuitem value="Informar Participacoes" outcome="gerenciarParticipacoes"/>           
        </p:submenu>
 
        <f:facet name="options">
            <p:inputText style="margin-right:10px" placeholder="Search"/>
            <p:commandButton type="button" value="Logout" icon="ui-icon-extlink" />
        </f:facet>
    </p:menubar>
</h:form>

</body>
</html>