<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//pt-BR" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="css/estilo.css" rel="stylesheet" />
<title>Cadastrar Nova Turma</title>
</h:head>
<body class="centro">

<p:breadCrumb>
    <p:menuitem value="Home" url="menuPrincipal.xhtml" />
    <p:menuitem value="Gerenciar turmas" url="gerenciarTurmas.xhtml" />
    <p:menuitem value="Cadastrar Nova turma" url="#" />
</p:breadCrumb>

<h:form>
	<div align="center">
		<h3>Cadastrar Nova turma</h3>
		<p:panelGrid columns="2">
	    	
	    	<h:outputText value="Nome da Turma:" />
	    	<p:inputText value="#{gerenciarTurmasMBean.turma.nome}"/>
	    	
			<h:outputText value="Idade Mínima:" />
	    	<p:inputText value="#{gerenciarTurmasMBean.turma.idadeMinima}"/>
	    	
	    	<h:outputText value="Idade Máxima:" />
	    	<p:inputText value="#{gerenciarTurmasMBean.turma.idadeMaxima}"/>
	    		    	
		</p:panelGrid>
			<br/>
			<br/>
		<c:if test = "${gerenciarTurmasMBean.cadastrada}">
        	<p:commandButton value="Alterar" ajax="false" action="#{gerenciarTurmasMBean.alterar}"/>
      	</c:if>
      	<c:if test = "${!gerenciarTurmasMBean.cadastrada}">
        	<p:commandButton value="Cadastrar" ajax="false" action="#{gerenciarTurmasMBean.cadastrar}"/>
      	</c:if>
	</div>

</h:form>

</body>
</html>